// .auth-page {
//   width: 360px;
//   padding: 15px;
//   margin: auto;
// }
.auth-page__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  outline: none;
  background-color: var(--white-color);
}
.form-auth {
  padding: 15px;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  & input {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  & .btn-auth {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: var(--accent-color);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      background-color: #43a047;
    }
  }
}

.error {
  color: rgb(214, 61, 61);
  padding-top: 40px;
}
