.follow-cursor {
    width: 24px;
    height: 24px;
    border: 1px solid #FF6B01;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;

    z-index: 999;
    
    pointer-events: none;
   
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}


.follow-cursor_active {
    height: 50px;
    width: 50px;
    border-width: 2px;
    background: rgba(233, 67, 7, 0.32);
}


@media (max-width: 768px) {
    .follow-cursor {
        display: none;
    }
}