<div class="form-auth is-hidden">
  <button class="auth-page__btn-close">
    <svg width="30px" height="30px" class="modal-close__icon">
      <use href="./images/SVG-sprites/symbol-sprites.svg#close"></use>
    </svg>
  </button>
  <form class="register-form is-hidden" name="regForm">
    <input type="email" placeholder="email address" name="emailReg" />
    <input type="password" placeholder="password" name="passwordReg" />
    <button class="btn-auth btn-create">create</button>
    <p class="error"></p>
  </form>
  <form class="login-form is-hidden" name="loginForm">
    <input type="email" placeholder="email" name="emailLogin" />
    <input type="password" placeholder="password" name="passwordLogin" />
    <button class="btn-auth btn-login">login</button>
    <p class="error"></p>
  </form>
</div>
