<div class="backdrop is-hidden " data-close="backdrop" data-method="slideDown" data-amination-time="1000">
    <div class="modal" data-modal>
        <button class="modal__button-close" data-modal-close> 
            <svg width="30px" height="30px" class="modal-close__icon">
                <use href="./images/SVG-sprites/symbol-sprites.svg#close"></use>
        </svg> 
        </button>
        <div class="film-content">
            <!-- render markup -->
        </div>
        <!--<div class="btn-box">
                    <button class="btn-watched">add to <br class="transfer" />Watched</button>
                    <button class="btn-qweqwe">add to queue</button>
        </div>-->
    </div>
</div>