<div class="backdrop-team is-hidden">
  <div class="modal-team">
    <button class="modal-team__btn-close">
      <svg width="30px" height="30px" class="modal-team-close__icon">
        <use href="./images/SVG-sprites/symbol-sprites.svg#close"></use>
      </svg>
    </button>

    <div class="swiper swiper-team">
      <div class="image-slider swiper-container swiper">
        <div class="image-slider__wrapper swiper-wrapper">
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>